/*! Place your custom styles here */
body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3 {
    font-family: 'Source Sans Pro', serif;
}

strong.white {
    color: #fff;
}

section.intro {
    height: 600px;
}

section.outro {
    height: 205px;
    background-color: #F5F5F5;
    padding-top: 25px !important;
}

hr.short {
    width: 2.78571429em;
    border-color: #ECECEC;
}

ul:not([class*='menu']) li > a {
    font-weight: bold;
}

.styless-anchor {
    text-decoration: none;
}

.background-image-holder.intro {
    width: 157%;
    background-position: bottom -280px right 143px !important;
    opacity: 0.8 !important;
}

.intro-box {
    padding-top: 155px;
    width: 537px;
}

.image-box {
    margin: auto;
}

.btn.btn--primary.type--uppercase.custom {
    background: #00C091;
    border-color: #00C091;
    padding-right: 20px;
    padding-left: 20px;
}

.logo-img {
    width: 230px;
    border-radius: 5%;
    margin: 10px;
}

.lead.outro {
    font-size: 16px;
    font-style: italic;
    text-align: center;
    font-weight: bold;
}

.sources-box {
    font-weight: bold !important;
}

@media (max-width: 420px) {
    section.outro {
        height: 400px;
    }

    .background-image-holder.intro {
        width: 100%;
        background-repeat: no-repeat !important;
        background-position: bottom 20px right -270px !important;
        opacity: 0.8 !important;
    }
}
